# Public
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_MEDIUM_FEED=https://medium.com/feed/@brianc40722

# Server-only
RESEND_API_KEY=
CONTACT_TO_EMAIL=brianc40722@gmail.com
CONTACT_FROM_EMAIL=hello@briancao.dev
